.movie-details {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  font-family: sans-serif;
}

.movie-details img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie-details h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.movie-details h3 {
  margin-top: 30px;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
}

.movie-details ul {
  list-style: none;
  padding: 0;
}

.movie-details li {
  padding: 5px 0;
}
