name: Build and deploy ASP.Net Core app to Azure Web App - favflicks-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore favflicks/favflicks.csproj

      - name: Build with dotnet
        run: dotnet build favflicks/favflicks.csproj --configuration Release --no-restore

      - name: dotnet publish
        run: dotnet publish favflicks/favflicks.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp" --no-build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_978278A12FA141FA9408609669DA7609 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F55AA6C8AFE945A4A374EC280A5D717B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3DE1565DBC524460B686183F56CC0EB1 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'favflicks-api'
          slot-name: 'Production'
          package: './.net-app'


